streamlit
python-dotenv
pypdf
pymupdf
chromadb
langchain
langchain-community
langchain-openai
langchain-google-genai
openai
tiktoken
sentence-transformers
torch
torchvision
google-genai
rank-bm25
pysqlite3-binary